


.tableContainer{
    /* width: 100%; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.hierarchyContainer{
    width: 100%;
}

.tabContainer{
    width: 100%;
}