a {
    color: inherit;
    text-decoration: none;
  }

  input{
    border-width: 0;
    border-bottom-width: 1px;
    border-color: rgb(185, 185, 185);
    background-color: rgba(238, 238, 238, 0.726);
    border-radius: 2px;
    // color: rgb(206, 206, 206);
    color: black;
  }